.pre-auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  background: radial-gradient(circle at center, #3a473f, #21f097cd);
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
  justify-content: flex-start; 
  padding-top: 120px;
}
.upper-content {
  margin-bottom: 5px; /* Add space between upper and lower content */
}
.lower-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; /* Add space above the lower content */
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  
  .logo {
    font-size: 10rem;
    font-weight: 300;
    margin: 0;
  }
  
  .subtitle {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 0;
  }
  
  .spotify-logo img {
    width: 150px;
    margin: 20px 0;
    padding-left: 215px;
  }
  
  .description {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .policy {
    font-size: 0.9rem;
    margin-bottom: 30px;
  }
  
  .policy a {
    color: #ffffff;
    text-decoration: underline;
  }
  
  .connect-button {
    padding: 15px 30px;
    font-size: 1.1rem;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
  }
  
  .connect-button img {
    width: 24px;
    height: 24px;
  }
  
  .connect-button:hover {
    background-color: #1ed760;
  }
  