body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Arial', sans-serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.logo {
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 10px;
  margin: 0;
}

.subtitle {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 4px;
}

.description {
  margin-top: 20px;
  font-size: 1rem;
  letter-spacing: 1px;
}

.arrow-container {
  position: absolute;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 2s infinite;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 45px solid black;
  transition: transform 0.2s;
}

.arrow:hover {
  transform: scale(1.5) rotate(90deg);
  cursor: pointer;  
}

.arrow:hover + .pause-lines {
  opacity: 0;
}

.pause-lines {
  display: flex;
  margin-left: 10px;
  gap: 5px; 
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.line {
  width: 5px;
  height: 45px;
  background-color: black;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}