@keyframes pulse {
  0%, 100% {
    background-color: #f4cbf4ec;
  }
  50% {
    background-color: #cde8d8;
  }
}

.quiz-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  background-size: 300% 300%;
  animation: pulse 20s infinite;
  text-align: center;
}


.result-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  max-width: 900px;
  margin: 20px 0;
}

.result-content img {
  width: 250px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-box {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: left;
  line-height: 1.6;
}

.inspiration-container {
  margin-top: 10px;
}

.results-playlist {
  margin-top: 20px;
}

.back-button {
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
